.grid {
    width: 100vw;
    height: 100vh;
    display: grid;
}

@media only screen and (max-width: 584px) {
    .grid {
        display: grid;
        grid-template-columns: repeat(6, minmax(50px, 1fr));
        grid-template-rows: repeat(auto-fit, minmax(70px, 1fr));/
    }

    /* rote Linie vertikal */
    .item1a {
        grid-row-start: 2;
        grid-row-end: 25;
        grid-column-start: 1;
        grid-column-end: 2;
        border-left: 18px solid rgb(221, 1, 1);
        transform: translateX(25px) translatey(35px);
        display: flex;
        justify-content: flex-end;
        white-space: nowrap;
        padding-left: 20px;
        animation: drawLine3 1s cubic-bezier(0.4, 0, 0.2, 1) forwards;
    transform: translateX(20px) translateY(0); /* Kombiniere die Transformationen */
}

@keyframes drawLine3 {
    0% {
        transform: translateX(20px) translateY(120%); /* Anfangsposition */
    }

    100% {
        transform: translateX(20px) translateY(0%); /* Endposition */
    }
}

    /* typographische */
    .item1b {
        grid-row-start: 5;
        grid-row-end: 10;
        grid-column-start: 2;
        grid-column-end: 3;
        font-family: "nimbus-sans", sans-serif;
        font-weight: 700;
        font-style: normal;
        font-size: 2.5rem;
        writing-mode: vertical-rl;
        transform: rotate(180deg) translateX(10px) translateY(-40px);
        writing-mode: vertical-rl;
        display: flex;
        justify-content: flex-end;
        white-space: nowrap;
    }

    /* mitteilung */
    .item2a {
        grid-row-start: 2;
        grid-row-end: 6;
        grid-column-start: 2;
        grid-column-end: 3;
        font-family: "nimbus-sans", sans-serif;
        font-weight: 700;
        font-style: normal;
        font-size: 2.5rem;
        writing-mode: vertical-rl;
        display: flex;
        justify-content: flex-end;
        white-space: nowrap;
        transform: rotate(180deg) translateX(10px);
    }


    /* Namen und schwarzer Strich */
    .item3 {
        grid-row-start: 7;
        grid-column-start: 5;
        grid-row-end: 9;
        grid-column-end: 6;
        display: flex;
        justify-content: flex-end;
        white-space: nowrap;
    }

    .name-list {
        font-family: "nimbus-sans", sans-serif;
        font-weight: 400;
        font-style: normal;
        font-size: 0.7rem;
        text-align: right;
        padding-left: 1rem;
        line-height: 1.16;
        transform: translate(0px, 50px);
    }

    .item7 {

        grid-row-start: 7;
        grid-column-start: 4;
        grid-row-end: 9;
        grid-column-end: 6;
        border-right: 8px solid rgb(0, 0, 0);
        transform: translate(25px, 50px);
    }

    /* zeitschrift... */

    .item4 {
        grid-row-start: 10;
        grid-column-start: 2;
        grid-row-end: 12;
        grid-column-end: 6;
        display: flex;
        align-items: end;
        text-align: end;
        justify-self: end;
        font-family: "nimbus-sans", sans-serif;
        font-weight: 400;
        font-style: normal;
        font-size: 0.65rem;
        transform: translatex(20px);
        margin-bottom: 20px;
    }

/* Sonderheft */
.sonderheft-text-container {
    grid-row-start: 3;
    grid-column-start: 3;
    grid-row-end: 4;
    grid-column-end: 6;
    position: relative;
    overflow: hidden; /* Verhindert, dass der Text außerhalb des Containers sichtbar wird */
}

.sonderheft-text {
    font-family: "nimbus-sans", sans-serif;
    font-weight: 400;
    font-size: 1.7rem;  
    opacity: 0; /* Unsichtbar bis zur Animation */
    transform: translate(0, 100%); /* Startposition von rechts und unten */
    animation: riseUp 1.2s forwards;
    animation-delay: 0.9s;
}

@keyframes riseUp {
    0% {
        transform: translate(20px, 100%); /* Start von unten und rechts verschoben */
        opacity: 0; /* Noch unsichtbar */
    }
    100% {
        transform: translate(20px, 40%); /* Endposition */
        opacity: 1; /* Sichtbar */
    }
}

    /* roten Strichs zwischen den Elementen */
    .item5 {
        grid-row-start: 3;
        grid-column-start: 3;
        grid-row-end: 4;
        grid-column-end: 4;
        position: relative;
    }

    /* roten Strich */
    .item5::after {
        content: "";
        position: absolute;
        top: 65%;
        left: 0;
        width: 350px;
        border-bottom: 18px solid rgb(221, 1, 1);
        transform: translateX(20px);
        animation: drawLine1 1.1s cubic-bezier(0.4, 0, 0.2, 1) forwards;
        z-index: 2; 
        
    }
    

    @keyframes drawLine1 {
        0% {
            left: 250%;
           
        }

        100% {
            left: 0;
            /* Endposition auf der linken Seite */
        }
    }



@keyframes drawLine1 {
    0% {
        left: 250%;
       
    }

    100% {
        left: 0;
        /* Endposition auf der linken Seite */
    }
}
    /* elementare typographie */
    .item6 {
        grid-row-start: 4;
        grid-column-start: 4;
        grid-row-end: 5;
        grid-column-end: 6;
        font-family: "nimbus-sans", sans-serif;
        font-weight: 700;
        font-size: 1.7rem;
        display: flex;
        justify-content: flex-end;
        text-align: end;
        white-space: nowrap;
        transform: translateY(10px);
        opacity: 0; /* Unsichtbar bis zur Animation */
        animation: slideDown 1.2s forwards;
        animation-delay: 0.9s; /* Verzögerung, wenn nötig */
        z-index: 1; 
    }
    
    }


@keyframes slideDown {
    0% {
        transform: translate(0, -60%); /* Start von oben */
        opacity: 0; /* Unsichtbar */
    }
    100% {
        transform: translate(0, 0); /* Endposition unten */
        opacity: 1; /* Sichtbar */
    }
}




/* Tablet */

@media only screen and (min-width: 585px) and (max-width: 840px) {
    .grid {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(70px, 1fr));
        grid-template-rows: repeat(auto-fit, minmax(70px, 1fr));/
    }

    /* rote Linie vertikal */
    .item1a {
        grid-row-start: 4;
        grid-row-end: span 17;
        grid-column-start: 2;
        grid-column-end: 3;
        border-left: 18px solid rgb(221, 1, 1);
        transform: translateY(-25px);
        animation: drawLine3 1.1s cubic-bezier(0.4, 0, 0.2, 1) forwards;
        position: relative;
    }

    @keyframes drawLine3 {
        0% {
            transform: translateY(75%);
            /* Startposition unter dem sichtbaren Bereich */
        }

        100% {
            transform: translateY(25px);
            /* Endposition */
        }
    }


    /* Typo */
    .item1b {
        grid-row-start: 4;
        grid-row-end: 8;
        grid-column-start: 2;
        grid-column-end: 3;
        font-family: "nimbus-sans", sans-serif;
        font-weight: 700;
        font-style: normal;
        font-size: 3.3rem;
        transform: rotate(-90deg) translate(-416px, 30px);
        transform-origin: left top;
        text-align: end;
    }

    /* mitteilung */
    .item2a {
        grid-row-start: 3;
        grid-column-start: 5;
        grid-row-end: 4;
        grid-column-end: 6;
        font-size: 3.3rem;
        font-family: "nimbus-sans", sans-serif;
        font-weight: 700;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        text-align: right;
        white-space: nowrap;
        transform: translateY(-25px);
        transform: translateX(1px)
    }

    /* rote Linie horizontal */
    .item2b {
        grid-row-start: 1;
        grid-column-start: 1;
        grid-row-end: 3;
        grid-column-end: 6;
        border-bottom: 18px solid rgb(221, 1, 1);
        transform: translateX(1px);
        animation: drawLine 1.2s cubic-bezier(0.4, 0, 0.2, 1) forwards;
        /* Cubic Bezier für sanftere Animation */
    }

    @keyframes drawLine {
        0% {
            border-bottom-width: 23px;
            border-bottom-color: rgba(221, 1, 1, 0);
            /* Linie unsichtbar */
            width: 0;
        }


        100% {
            border-bottom-color: rgba(221, 1, 1, 1);
            /* Linie sichtbar */
            width: 100%;
            /* Linie vollständig gezeichnet */
        }
    }


    /* Namen und schwarzer Strich */
    .item3 {
        grid-row-start: 10;
        grid-column-start: 5;
        grid-row-end: 12;
        grid-column-end: 7;
        display: flex;
        overflow: hidden; 
    }

    .name-list {
        font-family: "nimbus-sans", sans-serif;
        font-weight: 400;
        font-style: normal;
        font-size: 11.8px;
        text-align: left;
        text-align: start;
        justify-self: start;
        transform: translateX(30px);
        opacity: 0;
        animation: slide-in 1.5s cubic-bezier(0, 0, 0.5, 1) forwards;
        animation-delay: 0.8s;
        
    }

/* Keyframes für die Animation */
@keyframes slide-in {
    from {
        transform: translateX(100%); /* Start von rechts */
        opacity: 0; /* Zu Beginn unsichtbar */
    }
    to {
        transform: translateX(30); /* Endposition */
        opacity: 1; /* Sichtbar nach der Animation */
    }
}





    .item7 {
        grid-row-start: 10;
        grid-row-end: 12;
        grid-column-start: 6;
        grid-column-end: 7;
        border-right: 8px solid rgb(0, 0, 0);
        
    }


    
    /* Text (zeitschrift des bildungsverbandes...) */
    .item4 {
        grid-row-start: 1;
        grid-column-start: 7;
        grid-row-end: 6;
        grid-column-end: 8;
        display: flex;
        font-family: "nimbus-sans", sans-serif;
        font-weight: 400;
        font-style: normal;
        font-size: 0.9rem;
        writing-mode: vertical-rl;
        white-space: nowrap;
        align-items: flex-end;
        transform: translate(-12px, 20px);
    }

    /* sonderheft */
    .item5 {
        grid-row-start: 6;
        grid-column-start: 4;
        grid-row-end: 7;
        grid-column-end: 5;
        font-family: "nimbus-sans", sans-serif;
        font-weight: 400;
        font-size: 1.8rem;
        text-align: end;
        justify-self: end;
        padding-left: 30px;
        transform: translateX(30px);
    }

    /* elementare typographie */
    .item6 {
        grid-row-start: 7;
        grid-column-start: 4;
        grid-row-end: 8;
        grid-column-end: 5;
        font-family: "nimbus-sans", sans-serif;
        font-weight: 700;
        font-size: 1.9rem;
        text-align: end;
        justify-self: end;
        transform: translatey(-20px) translateX(30px);
        padding-left: 30px;
    }

}




/* Desktop */
@media only screen and (min-width: 841px) {
    .grid {
        grid-template-rows: repeat(8, 1fr);
        grid-template-columns: 1fr 1fr 50px 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
        min-height: 490px;
    }

    /* typografische */
    .item1a {

        grid-row-start: 2;
        grid-column-start: 1;
        grid-row-end: 3;
        grid-column-end: 11;
        border-bottom: 23px solid rgb(221, 1, 1);
        z-index: 2;
        /* Border ist im Vordergrund */
        transform: translatey(20px);
        animation: drawLine 1.2s cubic-bezier(0.4, 0, 0.2, 1) forwards;
        /* Cubic Bezier für sanftere Animation */
    }

    @keyframes drawLine {
        0% {
            border-bottom-width: 23px;
            border-bottom-color: rgba(221, 1, 1, 0);
            /* Linie unsichtbar */
            width: 0;
        }


        100% {
            border-bottom-color: rgba(221, 1, 1, 1);
            /* Linie sichtbar */
            width: 100%;
            /* Linie vollständig gezeichnet */
        }
    }


    /* zeitschrift des bildungsverbandes */
    .item4 {
        grid-row-start: 3;
        grid-column-start: 4;
        grid-row-end: 5;
        grid-column-end: 11;
        font-family: "nimbus-sans", sans-serif;
        font-weight: 400;
        font-style: normal;
        font-size: 1.1rem;
        text-align: right;
        transform: translateY(32px);
        z-index: 1;
        /* Hinter dem roten Border */
        opacity: 0;
        /* Unsichtbar zu Beginn */
        animation: revealText 1s ease-in-out forwards;
        animation-delay: 1s;
        /* Startet nach der roten Linie */
    }

    /* Keyframes für das Herunterkommen und Sichtbarwerden des Textes */
    @keyframes revealText {
        0% {
            transform: translateY(-10px);
            /* Startpunkt außerhalb des Bildschirms (oben) */
            opacity: 0;
            /* Unsichtbar */

        }

        100% {
            transform: translateY(32px);
            /* Endposition im sichtbaren Bereich */
            opacity: 1;
            /* Sichtbar */

        }
    }

    .item1b {
        grid-row-start: 2;
        grid-column-start: 5;
        grid-row-end: 3;
        grid-column-end: 11;
        font-family: "nimbus-sans", sans-serif;
        font-weight: 700;
        font-style: normal;
        font-size: 5rem;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        text-align: right;
        white-space: nowrap;
        margin-bottom: 10px;

    }

    /* mitteilung */
    .item2a {
        grid-row-start: 12;
        grid-column-start: 3;
        grid-row-end: 4;
        grid-column-end: 4;
        font-family: "nimbus-sans", sans-serif;
        font-weight: 700;
        font-style: normal;
        position: relative;
        transform-origin: top right;
        transform: rotate(-90deg);
        left: -100px;
        top: 423px;
    }

    .item2a {
        font-size: 5rem !important;
    }

    .item2b {
        grid-row-start: 4;
        grid-column-start: 4;
        grid-row-end: 12;
        grid-column-end: 5;
        position: relative;
        overflow: hidden;
    }

    .item2b::before {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 23px;
        height: 0;
        background-color: rgb(221, 1, 1);
        animation: drawLine2 1.1s cubic-bezier(0.4, 0, 0.2, 1) forwards;
    }

    @keyframes drawLine2 {
        0% {
            height: 0;
            /* Höhe startet bei 0 */
        }

        100% {
            height: 100%;
            /* Höhe erreicht 100% */
        }
    }


    /* Namen und schwarzer Strich */
    .item3 {
        grid-row-start: 5;
        grid-column-start: 9;
        grid-row-end: 7;
        grid-column-end: 11;
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
        position: relative;
        white-space: nowrap;
    }

    .name-list {
        font-family: "nimbus-sans", sans-serif;
        font-weight: 500;
        font-style: normal;
        font-size: 0.73rem;
        text-align: left;
        padding-right: 20px;
    }

    /* schwarzer Strich */
    .vertical-line {
        width: 10px;
        height: 133px;
        background-color: black;
        transform: translateY(-2px);
    }




    /* sonderheft */
    .item5 {
        grid-row-start: 6;
        grid-column-start: 6;
        grid-row-end: 7;
        grid-column-end: 8;
        font-family: "nimbus-sans", sans-serif;
        font-weight: 400;
        font-size: 2rem;
        text-align: right;
        display: flex;
        justify-content: flex-end;
        align-items: flex-start;
        min-height: 80px;
        margin-bottom: 30px;
    }

    /* elementare typographie */
    .item6 {
        grid-row-start: 6;
        grid-column-start: 6;
        grid-row-end: 7;
        grid-column-end: 8;
        font-family: "nimbus-sans", sans-serif;
        font-weight: 700;
        font-size: 2rem;
        transform: translatey(5px);
        text-align: right;
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
    }
}